{% extends "common.html" %}{% load i18n %}{% load static %}

{% block title %}Produits{% endblock %}

{% block main %}
	<div>
		<a href="{% url 'product_add' %}">Ajouter un produit</a>
		<br/>
		<br/>
	</div>
	<table>
		<thead>
			<tr>
				<th title="Identifiant de produit">Id</th>
				<th>Label</th>
				<th>Prix</th>
				<th>Disponible</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for product in products %}
				<tr>
					<td><a href="{{ product.get_absolute_url }}">#{{ product.id }}</a></td>
					<td>{{ product.label }}</td>
					<td class="text-right">{{ product.price }} €</td>
					<td class="text-right"><i class="fa {{ product.available|yesno:'fa-check,fa-close' }}"></i></td>
					<td>
						<form method="delete" action="{{ product.get_absolute_url }}" class="inline">
							{% csrf_token %}
							<button type="submit" title="Supprimer"><i class="fa fa-trash"></i></button>
						</form>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
