[Unit]
Description=Simple order main service
After=network-online.target

[Service]
Type=forking
EnvironmentFile=/etc/environment
ExecStart=/usr/bin/python3 /opt/simple-order/simple_order/scripts/control.py start
ExecStop=/usr/bin/python3 /opt/simple-order/simple_order/scripts/control.py stop
ExecReload=/usr/bin/python3 /opt/simple-order/simple_order/scripts/control.py reload
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
