{% extends "base.html" %}{% load i18n %}{% load static %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'simple_order/css/structure.css' %}?_=1"/>

	<script type="text/javascript" src="{% static 'simple_order/js/clock.js' %}?_=1"></script>
	<script type="text/javascript"> var clock = new Clock(); </script>

	{% block scripts %}{% endblock %}
{% endblock %}

{% block body %}
	<main>
		<h1>{% block wtitle %}{% block title %}{% endblock %}{% endblock %}</h1>

		{% if messages %}
			<!-- django message block -->
			{% for message in messages %}
				<div class="message {% if message.tags %}{{ message.tags }}{% else %}info{% endif %}">{{ message|linebreaksbr }}</div>
			{% endfor %}
		{% endif %}

		{% block main %}{% endblock %}
	</main>

	<header>
		<a href="/"><i class="fa fa-leaf"></i> {{ site_title }}</a>
	</header>

	<aside>
		<div class="account">
			{% if user.is_authenticated %}
				<a class="logout" href="{% url 'logout' %}">
					<span>Connecté en tant que {{ user.username }}</span>
					<span>Déconnexion</span>
				</a>
			{% else %}
				<a class="login" href="{% url 'login' %}">
					<span>Se connecter</span>
				</a>
			{% endif %}
		</div>
		<div class="menu">
			{% for entry in menu_list %}
				<a href="{{ entry.url }}"{% if entry.active %} class="active"{% endif %}>
					<i class="fa {{ entry.icon }}"></i>
					<span>{{ entry.label }}</span>
				</a>
			{% endfor %}
		</div>
	</aside>

	<footer>
		<div id="hour_place"></div>
		<div id="date_place"></div>
	</footer>
{% endblock %}
